@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 13% 95%;
    --foreground: 240 5.3% 26.1%;
    --card: 0 0% 100%;
    --card-foreground: 240 5.3% 26.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 5.3% 26.1%;
    --primary: 210 40% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 210 40% 30%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 210 40% 50%;
    --accent: 120 25% 65%;
    --accent-foreground: 120 25% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 40% 89.8%;
    --input: 210 40% 94%;
    --ring: 210 40% 60%;
    --chart-1: 210 40% 60%;
    --chart-2: 120 25% 65%;
    --chart-3: 43 74% 66%;
    --chart-4: 27 87% 67%;
    --chart-5: 173 58% 39%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 210 40% 60%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 210 40% 95%;
    --sidebar-accent-foreground: 210 40% 30%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 210 40% 60%;
  }
  .dark {
    --background: 240 5.9% 10%;
    --foreground: 0 0% 98%;
    --card: 240 5.9% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 240 5.9% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 210 40% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 120 25% 65%;
    --accent-foreground: 120 25% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 210 40% 60%;
    --chart-1: 210 40% 60%;
    --chart-2: 120 25% 65%;
    --chart-3: 43 74% 66%;
    --chart-4: 27 87% 67%;
    --chart-5: 173 58% 39%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 210 40% 60%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 210 40% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
